body{
    background-color: rgb(113, 187, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
table{
    border:2px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid gray;
    padding: 5px 10px;
}
th{
    text-align: center;
    font-weight: bold;
    background-color: cornflowerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    text-align: left;
    margin: auto;
}
tr:nth-child(odd){
    background-color: chocolate;
    color: wheat;
}
.lunch{
    background-color: rgb(113, 187, 129);
    color: black;
}

img{
    width: 60px;
    position: relative;
    top: -10px;
}