*{
    margin: 0;
    padding: 0;
}

nav ul{ 
    display: flex;
    justify-content: space-around;
    background-color: wheat;
    padding: 5px;
    
}

nav ul li{
    list-style-type: none;
}
.logo img{
    max-width: 60%;
}

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

}
.logo{
    max-width: fit-content;
}
.features{
    color: white;
    width: 60vw;
}
body{
    min-height: 100vh;
    background-image: url("https://www.msrit.edu/img/test1.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .features{
        font-size: 1.5em;
    }
}
