main{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
article{
    padding: 5px;
    border: 2px solid black;
}
table{
    /* border: 1px solid red; */
    width: 80vw;
    margin-top: 10px;
    table-layout: fixed;
    border-collapse: collapse;
}
td,th{
    text-align: center;
    border: 1px solid black;
}
th{
    background-color: chocolate;
}
td{
    background-color: aqua;
}
